.projects {
  width: 1170px;
  margin: 0 auto 120px;
}
.projects-title {
  color: $sweet-grey;
  font-size: 64px;
  line-height: 64px;
  font-weight: 300;
}
.projects-img__wrap {
  width: 1170px;
  height: 530px;
  margin: 0 auto 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}
.projects-btn {
  background-color: $color-grey;
  color: #fff;
  margin-left: 940px;
}
.img-wrap {
  position: relative;
  transition: all 200ms linear;
}
.img-wrap-hover {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.img-wrap-hover__title {
  margin-left: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 0;
}
.img-wrap-hover__btn {
  border: none;
  color: $sweet-grey;
  background-color: rgba($color: #000000, $alpha: 0);
  cursor: pointer;
  margin-left: 20px;
}
.img-wrap-hover__btn::after {
  display: inline-block;
  content: "\2192";
}
.img-wrap:hover .img-wrap-hover {
  opacity: 1;
  transition: all 200ms linear;
}
